/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
 body {
    overflow-x:hidden;  
}

.title{
    font-size: 4em;
    font-family: 'Russo One', sans-serif;
}

a:focus {
    outline: none;
    outline: none;
    outline-offset: 0px;
}

/*
.title {

  font-size: 3em;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
    
     text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.title:hover {
  color: #fb474a;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
    
}
*/

/*glow for webkit*/

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fb474a, 0 0 20px #fb474a, 0 0 30px #fb474a, 0 0 40px #fb474a, 0 0 70px #fb474a, 0 0 80px #fb474a, 0 0 100px #fb474a, 0 0 150px #fb474a;
  }
  to {
    text-shadow: 0 0 5px #fb474a, 0 0 10px #fb474a, 0 0 15px #fb474a, 0 0 20px #fb474a, 0 0 35px #fb474a, 0 0 40px #fb474a, 0 0 50px #fb474a, 0 0 75px #fb474a;
  }
}

/*glow for mozilla*/

@-moz-keyframes neon1 {
  from {
     text-shadow: 0 0 10px #fb474a, 0 0 20px #fb474a, 0 0 30px #fb474a, 0 0 40px #fb474a, 0 0 70px #fb474a, 0 0 80px #fb474a, 0 0 100px #fb474a, 0 0 150px #fb474a;
  }
  to {
    text-shadow: 0 0 5px #fb474a, 0 0 10px #fb474a, 0 0 15px #fb474a, 0 0 20px #fb474a, 0 0 35px #fb474a, 0 0 40px #fb474a, 0 0 50px #fb474a, 0 0 75px #fb474a;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fb474a, 0 0 20px #fb474a, 0 0 30px #fb474a, 0 0 40px #fb474a, 0 0 70px #fb474a, 0 0 80px #fb474a, 0 0 100px #fb474a, 0 0 150px #fb474a;
  }
  to {
   text-shadow: 0 0 5px #fb474a, 0 0 10px #fb474a, 0 0 15px #fb474a, 0 0 20px #fb474a, 0 0 35px #fb474a, 0 0 40px #fb474a, 0 0 50px #fb474a, 0 0 75px #fb474a;
  }
}

/* secciones */
#proyecto{
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

#contacto{
        padding: 40px 0;
    
  background: linear-gradient(315deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(45deg, transparent 75%, #d45d55 0)-10px 0,
    linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
    linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
    background-size: 20px 20px;
}

#soporte{
      background-color: #222222;
      background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}

.footer-basic-centered {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 18px sans-serif;
    padding: 25px 45px;
/*    margin-top: 80px;*/
}
.footer-basic-centered a{
    color: #AB3333;
    cursor:pointer;
}

.footer-basic-centered a:hover{
    color: #fff;
    
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
    
     text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}



/*estilo infowindow */
.gm-style-iw {
   top: 17.5px !important; /* move the infowindow 15px down */
}

.fondoOscuro{
    background-color: #212121;
}

/*
.fondoCarbono{
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #212121;
    background-size:16px 16px;
}
*/


#navLogoCollapse{
        text-align: center;
    width: 100%;
    margin-top: -69px;
}

@media (max-width: 768px) {
    #logoNav{
        display: none;
    }
}

@media (min-width: 768px) {
    #navLogoCollapse{
        display: none;
    } 
}

 /* 
  html { height: 100% }
  body { height: 100%; margin: 0px; padding: 0px }
  #mostrarMapa { height: 100% } */
/*
.gmnoprint img:hover{
   width: 300px;
}
*/

.btn{
    border: none !important;
    outline: none !important;
}

button:focus {outline:0;}

.fluidGsun{
    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    height: 90px;
}

.navbar-brand:hover{
    color: #fb474a !important;
}
.navbar-nav>li>a:hover {
    color: #fb474a !important;
}

.navbar-nav > li > a  {
 line-height: 56px;
}

.navbar-header{
        height: 90px;
}

#collapse-1 {
    background-color: #222222 !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fb474a !important;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
        margin-left: 40px;
}
@media (min-width: 768px){
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px !important; 
    }}

/*controls UI*/
.controlesUI{
    position: absolute;   
}


#posCursor{
    margin: 18px 10px;
    position: relative;
    z-index: 1;
    font-size: 10px !important;
    top: 80px;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 8px 5px 1px 5px;
    border-radius: 2px;
    width: 190px;
}

#posCursor p{
    margin-bottom: 8px;
}


.scrollup {
    z-index: 1000;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    position: fixed;
    bottom: 50px;
    right: 2%;
    display: none;
    text-indent: -9999px;
    background: url('../images/icons/icon_top.png') no-repeat;
}

/* contenido infowindow */

#contentInfo{
	background-color: rgba(0, 0, 0, 0.23);
	padding: 14px;
	border-radius: 8px;
	border: 2px solid #F04634;/* CSS Document */
	background: transparent url("../images/bg.png") repeat scroll 0% 0%;
}

#vistaDetalle{
	background: transparent url("../images/bg.png") repeat scroll 0% 0%;
}

#direccion{
	font-weight: 300;
	font-size: 13px;
}

#popup{
    background-image: url('../images/portada/citysoundmap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 410px;
}


.infoBox {
-webkit-animation: fadeIn 300ms; /* Chrome, Safari, Opera */
animation: fadeIn 300ms;
}


/* WEATHER */
/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}


#weather{
    z-index: 1500;
    position: fixed;
/*    right: 0%;*/
    /*width: 110px;*/
    top: 0;
    margin-left: 10px;
    margin-top: 10px;
}

.temperature{
    font-size: 1.5em;
    margin-bottom: .1em !important;
}
/*
#weather {
  width: 500px;
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase; 
}*/

#weather i {
    color: #d4cfcf;
    font-family: weather;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    line-height: .7;
    text-transform: none;
    overflow: inherit;
    margin-right: 0px;
    margin-bottom: -4px;
    
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

/*
#weather h2 {
  margin: 0 0 8px;
  color: #fff;
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
*/

/*#weather ul {
  margin: 0;
  padding: 0;
}

#weather li {
  background: #fff;
  background: rgba(255,255,255,0.90);
  padding: 20px;
  display: inline-block;
  border-radius: 5px;
}

#weather .currently {
  margin: 0 20px;
}*/


.style11 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
